*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    position: relative;
    height: 110px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    background: transparent;

    transition: background-color 0.8s cubic-bezier(.16,1,.3,1),
                box-shadow 0.8s cubic-bezier(.16,1,.3,1),
                backdrop-filter 0.8s cubic-bezier(.16,1,.3,1);
}

.header:hover{
    background-color: #ffffff;
    backdrop-filter: blur(8px);
    box-shadow: 0 6px 25px rgba(0,0,0,0.08);
}
.container {
    max-width: 1600px; 
    margin: auto;
    padding: 0 60px;    
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 60px; 
}
nav {
    margin-right: auto;  
}
.logo p{
    font-size: 27px;
    font-weight: 500;
    line-height: 1.1;
}
.brand-bold{
    font-weight: 700;   
}
.logo img {
    height: 45px;
    width: 48px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 400;
}

.right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.credit {
    text-decoration: none;
    color: #888;
    font-size: 18px;
    font-weight: 500;
}
.hero{
    position: relative;
    min-height: 100vh;
    display: flex;
    padding: 100px 200px;
}
/* LEFT TEXT */
.hero-content{
    flex: 1;
}
.hero-content h1{
    font-size: 100px;
    font-weight: 300; 
    line-height: 1.1;
    color: #222;
}
/* FLOATING CARDS */
.hero-cards{
    position: absolute;
    bottom: 100px;
    left: 150px;
    display: flex;
    gap: 24px;
}

.card{
    position: relative;
    width: 330px;   
    height: 340px;
    border-radius: 20px;
    overflow: hidden;
    background: rgba(210, 201, 191, 0.7);
    backdrop-filter: blur(5px);
    cursor: pointer;
    transition: transform 0.6s cubic-bezier(.16,1,.3,1),
                box-shadow 0.6s cubic-bezier(.16,1,.3,1);
}

/* Lift */
.card:hover{
    transform: translateY(-12px);
    box-shadow: 0 25px 50px rgba(0,0,0,0.15);
}

/* -------- TITLE CENTER -------- */

/* TITLE */

.card-front{
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.25s ease-out,
                transform 0.25s ease-out;
}
.card-front h3{
    font-size: 24px;
    font-weight: 300; 
    letter-spacing: 0.5px;
    color: #222;
}

.card:hover .card-front{
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.6s cubic-bezier(.16,1,.3,1),
                transform 0.6s cubic-bezier(.16,1,.3,1);
}


/* DETAILS */

.card-back{
    position: absolute;
    inset: 0;
    padding: 30px;
    display: flex;
    align-items: flex-end;
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 0.25s ease-out,
                transform 0.25s ease-out;
}

.card:hover .card-back{
    opacity: 1;
    transform: translateY(0);
    transition: opacity 2s cubic-bezier(.16,1,.3,1),
                transform 2s cubic-bezier(.16,1,.3,1);
}

.card-content{
    width: 100%;
}

/* Paragraph */
.card-back p{
    font-size: 17px; 
    line-height: 1.7;
    color: #222;
    margin-bottom: 20px;
}

/* Divider */
.divider{
    width: 100%;
    height: 1.5px;
    background: #bbb;
    margin-bottom: 18px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.6s cubic-bezier(.16,1,.3,1);
}

.card:hover .divider{
    transform: scaleX(1);
}

/* Button */
.card-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 600;
    color: #222;
    font-size: 15px;
    transition: letter-spacing 0.3s ease;
}

.card-btn span{
    transition: transform 0.3s ease;
}

.card-btn:hover span{
    transform: translateX(5px);
}
.bg-img{
    background-image: url("https://yucca.co.za/wp-content/uploads/2025/09/yucca-packaging-homepage-intro-plastic-cups-for-iced-chilled-drinks-2.jpg");
    background-repeat: no-repeat;
    background-position: 50%;
}